.buscar-servicio-container {
  text-align: center;
  padding: 40px;
  background-color: #fafafa;
  border-radius: 12px;
  width: 60%;
  margin: 40px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-buscar-servicio {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

input {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.resultado-servicio {
  background-color: white;
  border: 1px solid #ccc;
  padding: 15px;
  width: 50%;
  margin: 0 auto;
  border-radius: 8px;
}
